# Git
.git
.gitignore

# Docker
.docker
# cache is specific to the os and might conflict with the docker build
# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/